Repository 10thmagnitude/MLOpsDemo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-automl.yml, azure-pipeline-train-model.yml, azure-pipeline-webapp.yml

azure-pipeline-automl.yml:
  name: 1.0.0$(Rev:.r)
  stages:
  - stage: provisionWorkspace
    displayName: Provision Workspace
    jobs:
    - deployment: provisionWorkspace
      displayName: Provision ML Workspace
      pool:
        vmImage: ubuntu-latest
      container: mlops
      environment: Workspace
      strategy:
        runOnce:
  ...

azure-pipeline-train-model.yml:
  name: 1.0.0$(Rev:.r)
  stages:
  - stage: provisionWorkspace
    displayName: Provision Workspace
    jobs:
    - deployment: provisionWorkspace
      displayName: Provision ML Workspace
      pool:
        vmImage: ubuntu-latest
      container: mlops
      environment: Workspace
      strategy:
        runOnce:
  ...

azure-pipeline-webapp.yml:
  name: 1.0.0$(Rev:.r)
  stages:
  - stage: build
    displayName: Build website
    jobs:
      job: build
      displayName: Compile and Package
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
  ...

Fix error handling
  webapp/Clients/PredictionAPIClient.cs
Due: azure-pipeline-webapp.yml

Templatize webapp job
  azure-pipeline-webapp.yml
  templates/job-deploy-webapp.yml
Due: azure-pipeline-train-model.yml

Start templating training jobs
  azure-pipeline-train-model.yml
  templates/job-deploy-model.yml
  templates/job-provision-workspace.yml
  templates/job-train-model.yml
Due: azure-pipeline-train-model.yml

Splitting more into templates
  azure-pipeline-train-model.yml
  templates/job-deploy-model.yml
  templates/job-train-model.yml
Due: azure-pipeline-train-model.yml

Fix indentation
  azure-pipeline-train-model.yml
Due: azure-pipeline-train-model.yml

Fix indentation
  templates/job-provision-workspace.yml
Due: azure-pipeline-train-model.yml

Fix indentation
  templates/job-deploy-webapp.yml
Due: azure-pipeline-train-model.yml

Fix typo
  templates/job-deploy-webapp.yml
Due: azure-pipeline-train-model.yml

Fix typos
  templates/job-deploy-webapp.yml
Due: azure-pipeline-train-model.yml

Fix typos
  templates/job-train-model.yml
Due: azure-pipeline-train-model.yml

Fixing typos
  templates/job-train-model.yml
Due: azure-pipeline-train-model.yml

Fix param name
  azure-pipeline-webapp.yml
Due: none

Fix param reference
  templates/job-deploy-webapp.yml
Due: azure-pipeline-train-model.yml

Fix param name
  templates/job-deploy-model.yml
Due: azure-pipeline-train-model.yml

Update vars->params
  templates/job-deploy-webapp.yml
Due: azure-pipeline-train-model.yml

Fix displayName
  templates/job-deploy-model.yml
Due: azure-pipeline-train-model.yml

Fix var name
  templates/job-deploy-model.yml
Due: azure-pipeline-train-model.yml

Adding prod tests
  templates/job-deploy-model.yml
Due: azure-pipeline-train-model.yml

Updating automl pipeline to use templates
  azure-pipeline-automl.yml
Due: azure-pipeline-automl.yml

Fix indentation
  azure-pipeline-automl.yml
Due: azure-pipeline-automl.yml

Fix client URI for POST
  webapp/Clients/PredictionAPIClient.cs
Due: azure-pipeline-webapp.yml

Fix publish path
  azure-pipeline-automl.yml
Due: azure-pipeline-automl.yml

Update readme Fix logic for risk/no risk in site
  readme.md
  webapp/Controllers/DiabetesController.cs
  webapp/appsettings.json
Due: azure-pipeline-train-model.yml, azure-pipeline-webapp.yml

Path conditions:
  azure-pipeline-automl.yml: any of: automl, data, azure-pipeline-automl.yml, but not: automl/docker
  azure-pipeline-train-model.yml: any file but: webapp, automl, azure-pipeline-webapp.yml, azure-pipeline-automl.yml
  azure-pipeline-webapp.yml: any of: webapp
